<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3.姓名案例_计算属性_简写实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓 <input v-model="firstName"> <br/>
        名 <input v-model="lastName"> <br/>
        全名 <span>{{fullName}}</span>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'三'
            },
            computed:{
                // 简写形式，没有setter，只有getter
                fullName() {
                    return this.firstName+'-'+this.lastName
                }
            }
        })
    </script>

</body>
</html>